/*

Author: Drayneur
Creation date: 04/11/2020
License: MIT

*/
.btn3d-blue {
  font-family: sans-serif;
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(13, 37, 74, .6);
  border: 1px solid #202225;
  background-color: #1e57b0;
  padding: 3px 6px 4px;
  padding-top: 2px;
  border-radius: 1.5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-blue:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #3c70c2;
  box-shadow: inset 0 -4px 0 rgba(48, 69, 102,.8);
}
.btn3d-blue:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(13, 37, 74, .6);
}
.btn3d-green {
  font-family: sans-serif;
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(6, 56, 11, .6);
  border: 1px solid #202225;
  background-color: #119e1f;
  padding: 3px 6px 4px;
  padding-top: 2px;
  border-radius: 1.5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-green:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #50ad58;
  box-shadow: inset 0 -4px 0 rgba(65, 110, 69,.8);
}
.btn3d-green:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(6, 56, 11, .6);
}

.btn3d-gray {
  font-family: sans-serif;
  color: #f6f6f7;
  -webkit-box-shadow: inset 0 -4px 0 rgba(35, 39, 42, .6);
  box-shadow: inset 0 -4px 0 rgba(35, 39, 42, .6);
  border: 1px solid #202225;
  background-color: #72767d;
  padding: 3px 6px 4px;
  padding-top: 2px;
  border-radius: 1.5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-gray:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #94979e;
  box-shadow: inset 0 -4px 0 rgba(114,124,132,.8);
}
.btn3d-gray:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(35, 39, 42, .6);
}

.big {
  font-size: 2vw;
}
