/*

Author: Drayneur
Creation date: 04/11/2020
License: MIT

*/
.nice-btn {
  outline: none;
  font-family: sans-serif;
  border: 1px solid #202225;
  padding: 8px;
  padding-top: 2px;
  border-radius: 1.5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn3d-blue {
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(13, 37, 74, .6);
  background-color: #1e57b0;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-blue:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #3c70c2;
  box-shadow: inset 0 -4px 0 rgba(48, 69, 102,.8);
}
.btn3d-blue:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(13, 37, 74, .6);
}
.btn3d-green {
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(6, 56, 11, .6);
  background-color: #119e1f;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-green:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #50ad58;
  box-shadow: inset 0 -4px 0 rgba(65, 110, 69,.8);
}
.btn3d-green:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(6, 56, 11, .6);
}
.btn3d-red {
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(61, 5, 5, .6);
  background-color: #b50909;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-red:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #b33b3b;
  box-shadow: inset 0 -4px 0 rgba(117, 48, 48,.8);
}
.btn3d-red:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(61, 5, 5, .6);
}
.btn3d-yellow {
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(79, 77, 4, .6);
  background-color: #cfcb04;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-yellow:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #d4cf2c;
  box-shadow: inset 0 -4px 0 rgba(135, 133, 58,.8);
}
.btn3d-yellow:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(79, 77, 4, .6);
}
.btn3d-gray {
  color: #f6f6f7;
  -webkit-box-shadow: inset 0 -4px 0 rgba(35, 39, 42, .6);
  box-shadow: inset 0 -4px 0 rgba(35, 39, 42, .6);
  background-color: #72767d;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-gray:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #94979e;
  box-shadow: inset 0 -4px 0 rgba(114,124,132,.8);
}
.btn3d-gray:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(35, 39, 42, .6);
}
.btn3d-purple {
  color: #f6f6f7;
  box-shadow: inset 0 -4px 0 rgba(84, 8, 77, .6);
  background-color: #ad109e;
  transition: 0.2s;
  transition-property: box-shadow,background-color, color, padding;
}

.btn3d-purple:hover {
  transition: 0.2s;
  transition-property: background-color,box-shadow, color;
  color: #e0e0e0;
  background-color: #ab38a0;
  box-shadow: inset 0 -4px 0 rgba(102, 46, 97,.8);
}
.btn3d-purple:active {
  transition: 0.1s;
  transition-property: box-shadow,padding;
  padding-top: 0px;
  box-shadow: inset 0 0px 0 rgba(84, 8, 77, .6);
}
form .white-form-control {
  margin-top: 5px;
  display: block;
}
form .nice-btn {
  margin-top: 5px;
}
.white-form-control {
  background-color: #fafafa;
  color: #000000;
  border: none;
  padding: 8px;
}
.white-form-control[type=submit] {
  display: none;
}
.white-form-control:focus {
  background-color: #fafafa;
  color: #000000;
  outline: 1px solid #ccc;
}

.big {
  font-size: 2vw;
}
